<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="LocalDb1" connectionString="Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Pooling=true;"/>
    <add name="LocalDb2" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True;"/>
  </connectionStrings>

  <appSettings>
    <add key="ApplicationName" value="TelemetryTestApp"/>
    <add key="Environment" value="dev"/>
  </appSettings>

</configuration>
