<?xml version="1.0" encoding="utf-8"?>
<log4net debug="false">

  <root>
    <level value="ALL" />
    <!--<appender-ref ref="ConsoleAppender" />--> 
    <appender-ref ref="ColoredConsoleAppender" />
    <!--<appender-ref ref="FileAppender" />-->
    <appender-ref ref="LogglyAppender" />
    <!--<appender-ref ref="RollingFileAppender" />-->
    <!--<appender-ref ref="SqlAppender" />-->
  </root>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <threshold value="INFO" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <threshold value="INFO" />
    <mapping>
      <level value="FATAL" />
      <foreColor value="Purple, HighIntensity" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow, HighIntensity" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Green, HighIntensity" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Cyan, HighIntensity" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <threshold value="INFO" />
    <file value="Log.txt" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
    <threshold value="INFO" />
    <rootUrl value="https://logs-01.loggly.com/" />
    <inputKey value="YOUR_KEY_HERE" />
    <tag value="log4net" />
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="SqlAppender" type="GalacticConquest.SqlAppender, GalacticConquest">
    <connectionString>Server=(local);Database=YOUR_DB_HERE;User Id=ACCOUNT;Password=SOME_PASSWORD;Connection Timeout=3; Pooling=true;</connectionString>
    <param name="Threshold" value="INFO"/>
  </appender>

</log4net>